/* @规则，CSS编码方式 */
@charset "UTF-8";
/* 规则，设置class为info元素的样式 */
.info,.text{
	font-size: 20px;
    color: red;
}
.text{
	text-indent: 2em;
	line-height: 1.5;
}
.button{
    display: inline-block;
    padding: 14px 20px;
    background: darkslateblue;
    color: aliceblue;
    border-radius: 5px;
    text-decoration: none;
    transition: background .5s;
}
.button:hover{
    background: lightskyblue;
}